@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

@layer components {
    .landingPages {
        @apply w-3/4 max-[400px]:w-full max-[400px]:justify-between
    }
    .lanInpCon {
        @apply pt-5 
    }

    .lanInpCon p{
      @apply 2xl:text-xl xl:text-lg
    }

    .inpAuth {
      @apply flex flex-row p-2 mt-2  border-2 border-EWpurple;
    }

    .headIcons {
      @apply p-2 flex flex-row  
    }

    .headUtils {
      @apply  flex flex-row text-2xl text-EWdarkPurple 2xl:text-3xl 
      xl:text-2xl max-[400px]:hidden
    }

    .cardInfoProfile {
      @apply w-full pt-3 px-16 
    }

    .cardInfoRow {
        @apply flex justify-between text-sm 2xl:text-xl xl:text-lg 
        font-medium pt-3 xl:text-xl
    }

    .cardButton {
        @apply flex items-center cursor-pointer hover:bg-EWpurple
         hover:text-EWdarkBlue ease-linear duration-200 rounded-lg 
         p-1 
    }

    .cardButton .icons {
      @apply mr-1 text-xl xl:text-3xl
    }

    .cardButton p {
      @apply text-sm 2xl:text-2xl xl:text-xl
    }

    .appStackPages {
        @apply overflow-hidden h-screen w-full bg-EWpurple/50 px-5 py-2
    }

    /* .appStackPagesContainer {
      @apply bg-white w-full h-full rounded-lg flex
    } */

    /* e-wallet hero logo */
    .eWalletHeroLogo {
        @apply m-4 flex items-center
    }

    .eWalletHeroLogo img {
        @apply w-16 rounded-3xl
    }

    .eWalletHeroLogo h1 {
        @apply text-xl font-medium pl-3
    }

    /* add card container */
    .addCardContainer {
      @apply flex flex-col items-center justify-center
    }

    .addCardContainer h1 {
      @apply text-2xl font-medium
    }

    .addCardContainer div {
      @apply flex justify-between items-center w-full py-3 px-5 font-semibold
    }
  
    .addCardContainer div div {
      @apply w-1/2 flex justify-center items-center border-2 border-EWpurple border-l-4 border-y-0 border-r-0 rounded-l-full h-10
    }

    .addCardContainer div div p {
      @apply text-lg text-center
    }

    .addCardContainer div input, .addCardContainer div select {
      @apply w-1/2 text-lg border-2 border-EWpurple rounded-r-full p-1
    }

    .addCardMessage {
      @apply text-center
    }

    .addCardButton {
      @apply w-full flex justify-between items-end
    }

    .addCardButton div {
      @apply w-full
    }

    .addCardButton .add {
      @apply flex justify-center items-center text-EWdarkBlue text-xl font-medium rounded-lg text-center
    }

    .cardDesign {
      @apply mx-0 my-2 w-60 h-36 2xl:w-72 2xl:h-44  border-2 
      bg-EWpurple rounded-xl bg-hero bg-no-repeat bg-cover 
      text-white flex flex-col justify-between p-2 xl:w-64 xl:h-40
      max-[400px]:p-2 
    }

    .highlight {
      @apply border-EWred hover:border-EWdarkBlue ease-linear duration-200 
    }

    /* edit card */
    .cardEdit {
      @apply p-5  
    }

    .cardEdit div {
      @apply grid grid-cols-2 gap-4 text-base max-[400px]:grid-cols-1
    }

    .cardEdit div input {
      @apply border-EWpurple border-2 rounded-lg p-1 caret-EWpurple
    }

    .cardEdit div select {
      @apply border-EWpurple border-2 rounded-lg p-1 bg-EWpurple
    }
    
    .cardEdit div div {
      @apply flex justify-between items-center
    }

    .dashDisplayTitle {
      @apply text-sm font-medium xl:text-xl
    }

    .dashDisplayData {
      @apply text-2xl font-medium text-EWdarkPurple 2xl:text-3xl xl:text-2xl
    }

    /* status hero popup */
    /* .activityStatus {
      @apply z-50 absolute w-screen h-screen backdrop-blur-sm flex justify-center items-center
    }

    .activityStatus div {
      @apply  md:w-1/4  rounded-lg flex flex-row justify-center
    } */

    /* .activityStatus div img {
      @apply 
    } */

    /* .activityStatus div .message {
      @apply bg-white w-full h-full p-3 border-EWdarkBlue border-4 rounded-xl
    }

    .activityStatus div .message h1 {
      @apply text-8xl text-EWblue
    }

    .activityStatus div .message p {
      @apply text-3xl text-EWdarkBlue
    } */
}


/* @layer utilities { */

/* customize  */ 

/* .transactcola {
  max-height: 500px;
  width: 100%;
} */